<!-- Proyecto PlandirNG  -->
<!-- Estilos Login -->

<style>
  .borde1 {
    border: 2px solid red;
  }
  .borde2 {
    border: 2px solid purple;
  }
</style>

<body>
  <!-- layout principal -->
  <div class="layout-principal animated fadeIn">
    <!-- div contenedor imagen diputacion -->
    <div class="row">
      <div class="col-12">
        <div class="layout-palacio-dipu"></div>
      </div>
    </div>

    <!-- capa por encima para la trasparencia  -->
    <div class="overlay">
      <!-- contiene el logotipo -->
      <div class="container layout-login">
        <div class="row fila-logo">
          <div class="col-2 logo-dipu">
            <div class="logo"></div>
          </div>
          <!-- contiene el formulario usuario/contraseña -->
          <div class="col-4 box-ldap">
            <div class="row texto-ldap">
              <div class="col-12 texto ">
                <p>Bienvenido <span class="plandir"> al Plan Director</span></p>
              </div>
            </div>
            <div class="row formulario-ldap">
              <div class="col-12"></div>
            </div>
          </div>
          <!-- contiene el acceso por clave -->
          <div class="col-3"></div>
          <!-- contiene el acceso por certificado -->
          <div class="col-3"></div>
        </div>
      </div>
    </div>
  </div>
</body>
