/* You can add global styles to this file, and also import other style files */

.ng-tns-c2-0.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all.ng-star-inserted {
    background-color: #4D4D4D;
    color: white;
}

.pi.pi-minus {
    background-color: white !important;
}

.pi.pi-plus {
    background-color: white !important;
}


/* You can add global styles to this file, and also import other style files */

body .ui-button.ui-state-default.ui-button-success,
body .ui-buttonset.ui-button-success>.ui-button.ui-state-default {
    background-color: #85a20c !important;
    border: 1px solid #85a20c !important;
}

fieldset {
    border: 1px solid #333333 !important;
}

body .ui-inputtext {
    border: 1px solid black !important;
}

body {
    font-family: Roboto, Helvetica Neue, sans-serif !important;
    font-size: inherit !important;
    font-weight: 400 !important;
    background-color: #8EA22D;
    height: 100%;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
    box-shadow: 0 0 0 0.1em #85a20c !important;
}

body .ui-listbox .ui-listbox-list .ui-listbox-item.ui-state-highlight {
    background-color: #85a20c !important;
    box-shadow: 0 0 0 0.2em #85a20c !important;
}

body .ui-datepicker table td.ui-datepicker-today>a,
body .ui-datepicker table td.ui-datepicker-today>span {
    background-color: #85a20c !important;
}

.ui-datepicker-trigger.ui-calendar-button {
    background-color: #85a20c !important;
    border: 1px solid #85a20c !important;
}

body {
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

label {
    color: #4D4D4D !important;
    font-weight: bold;
    font-size: 13px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
    background-color: white !important;
    color: black !important;
}

body .ui-button {
    border: 1px solid#aaa !important;
}

.ui-g-12.botonera {
    margin-top: 20px !important;
    text-align: right !important;
}

body .ui-dropdown .ui-dropdown-trigger {
    color: black !important;
    background-color: transparent !important;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    background-color: #85a20c !important;
}

body .ui-panel .ui-panel-titlebar {
    background-color: #4D4D4D !important;
    color: white !important;
    border: 1px solid #4D4D4D !important;
}

body .ui-datepicker table td>a.ui-state-active,
body .ui-datepicker table td>span.ui-state-active {
    background-color: #85a20c !important;
}

body .ui-table .ui-table-caption,
body .ui-table .ui-table-summary {
    background-color: #4D4D4D !important;
    color: white !important;
    border: 1px solid #4D4D4D !important;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: white !important;
    color: black !important;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

textarea.ng-untouched.ng-pristine.ng-valid {
    width: 100%;
}

h5 {
    margin-block-end: 0em !important;
    margin-block-start: 0em !important;
    color: white;
}

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
    padding: 0.2em !important;
}

.ui-g-1.row.ng-star-inserted {
    margin-block-start: 1em;
}


/* Menu */

body .ui-menu .ui-menuitem-link,
body .ui-menubar .ui-menuitem-link,
body .ui-tieredmenu .ui-menuitem-link,
body .ui-contextmenu .ui-menuitem-link,
body .ui-megamenu .ui-menuitem-link,
body .ui-slidemenu .ui-menuitem-link {
    color: transparent !important;
}

body .ui-menu .ui-menuitem-link .ui-menuitem-text,
body .ui-menubar .ui-menuitem-link .ui-menuitem-text,
body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-text,
body .ui-contextmenu .ui-menuitem-link .ui-menuitem-text,
body .ui-megamenu .ui-menuitem-link .ui-menuitem-text,
body .ui-slidemenu .ui-menuitem-link .ui-menuitem-text {
    color: white !important;
}

body .ui-tieredmenu .ui-menuitem {
    background-color: #8EA22D !important;
}

span.ui-submenu-icon.pi.pi-fw.pi-caret-right.ng-star-inserted {
    display: none !important;
}

body .ui-menu .ui-menuitem-link:hover,
body .ui-menubar .ui-menuitem-link:hover,
body .ui-tieredmenu .ui-menuitem-link:hover,
body .ui-contextmenu .ui-menuitem-link:hover,
body .ui-megamenu .ui-menuitem-link:hover,
body .ui-slidemenu .ui-menuitem-link:hover {
    background-color: #4D4D4D !important;
    color: white !important;
}

body .ui-tieredmenu .ui-submenu .ui-menuitem {
    background-color: #4D4D4D !important;
}

body .ui-tieredmenu .ui-menuitem.ui-menuitem-active>.ui-menuitem-link {
    background-color: #4D4D4D !important;
    color: white !important;
}

body .ui-menu .ui-menuitem-link .ui-menuitem-icon,
body .ui-menubar .ui-menuitem-link .ui-menuitem-icon,
body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-icon,
body .ui-contextmenu .ui-menuitem-link .ui-menuitem-icon,
body .ui-megamenu .ui-menuitem-link .ui-menuitem-icon,
body .ui-slidemenu .ui-menuitem-link .ui-menuitem-icon {
    color: white !important;
}

body .ui-menu .ui-menuitem-link:focus,
body .ui-menubar .ui-menuitem-link:focus,
body .ui-tieredmenu .ui-menuitem-link:focus,
body .ui-contextmenu .ui-menuitem-link:focus,
body .ui-megamenu .ui-menuitem-link:focus,
body .ui-slidemenu .ui-menuitem-link:focus {
    box-shadow: inset 0 0 0 0.2em #8EA22D !important;
}

li.ui-menuitem.ui-widget.ui-corner-all {
    border-radius: 0px !important;
}

span.ui-submenu-icon pi pi-fw pi-caret-right ng-star-inserted {
    color: transparent !important;
}

span.ui-submenu-icon pi pi-fw pi-caret-right ng-star-inserted:hover {
    color: transparent !important;
}

dpj-components-shared-login {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

p {
    color: white !important;
}

i.pi {
    color: white;
}