// -----------------------------------------------------------------------------
// Estilos definidos para la pagina de login
// -----------------------------------------------------------------------------

//Colores para el login
$colores_login: (
  logoDiputacion: rgb(105, 142, 2),
  logoSombra: 0px 5px 4px 0px rgba(0, 0, 0, 0.2), 
);

$fuenteLogin: "Poppins", sans-serif;

/* Mixins propios para el login */
/*---------------------------------------------------------------------*/
@mixin flex($display: flex, $justify: center, $align: center) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin login_shadow($shadowLogin) {
  box-shadow: $shadowLogin;
}
@mixin borde($borde: 2px solid #000) {
  border: $borde;
}
/* Animaciones */
/*---------------------------------------------------------------------*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
/*---------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;

  /* layout prinpipal */
  .layout-login {
    font-family: $fuenteLogin;
    width: 100vw;
    height: 600px;
    background: url("./assets/img/dipu.png") no-repeat top center;

    /* capa por encima para la trasparencia */
    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      @include flex();

      /* contenedor del logo y el formulario */
      .contenido-login {
        @include flex();
        width: 60%;
        height: 50%;
        opacity: 0.9;
        @include login_shadow(map-get($colores_login, logoSombra));
        background-color: #fff;

        /* caja logo */
        .contenido-der-logo {
          width: 30%;
          height: 100%;
          background-color: map-get($colores_login, logoDiputacion);
          @include flex();
        }
        /*caja formulario*/
        .contenido-izq-acceso {
          width: 70%;
          height: 100%;
        }
        .contenido-izq-acceso {
          .bienvenido {
            padding-top: 15px;
            font-size: 16px;
            border-bottom: 2px solid #f1f1f1;
            text-align: center;
            height: 30%;
            @include flex();

            p {
              text-transform: uppercase;
              color: #b0b0b0;
              font-weight: bold;
              text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
              letter-spacing: 2px;
            }
            span {
              color: map-get($colores_login, logoDiputacion);
              letter-spacing: 2px;
            }
          }
          /* Caja que contiene el formulario */
          .acceso {
            height: 100%;

            /* Adaptamos algunos tamaños y colores de los componentes, solo para el login */

            .ui-inputtext {
              font-size: 12px;
              border: 1px solid map-get($colores_login, logoDiputacion);
              box-shadow: 0 0 0 0.1rem
                rgba(map-get($colores_login, logoDiputacion), 0.25);

              &:enabled:focus:not(.ui-state-error) {
                box-shadow: 0 0 0 0.1em #85a20c !important;
              }
            }
            label {
              color: #4d4d4d !important;
              font-weight: bold;
              font-size: 13px;
            }
            .ui-button {
              font-size: 12px;
              background-color: map-get($colores_login, logoDiputacion);
              border: 1px solid map-get($colores_login, logoDiputacion) !important;
              border-radius: 1px;
              color: #fff;
              margin: 9px;
              transition: all 500ms;
              &:hover{
                background-color: darken($color: map-get($colores_login, logoDiputacion), $amount: 10%);
                border-color: 1px solid #4d4d4d;
                box-shadow:  0px 3px 5px 0px rgba(map-get($colores_login, logoDiputacion), 0.2) ;
               
              }
              .pi {
                display: none;
                font-size: 10px;
                margin-right: 5px;
              }

            }
  
            /* Redefinimos el paddind del grid que usa el componente de login para adaptarlo mas al contenido de la pagina*/
            
            .ui-g-1,
            .ui-g-2,
            .ui-g-3,
            .ui-g-4,
            .ui-g-5,
            .ui-g-6,
            .ui-g-7,
            .ui-g-8,
            .ui-g-9,
            .ui-g-10,
            .ui-g-11,
            .ui-g-12 {
              padding: 0.1em !important;
            }
  
            h5 {
              color:lightness($color: #3c3c3c);
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
